body {
  margin: 25px;
  background-color: aqua;
}

section#log {
  text-align: center;
}

section > form > div#col {}

#vehicle {
  display: flex;
  justify-content: center;
}

#statistics {
  display: flex;
  justify-content: space-around;
}

.mpgAverage {
  text-align: center;
  flex-direction: column;
}

.SPACEHOLDER {
  border: 2px solid;
  padding: 10px;
}

footer {
  text-align: center;
}

.navTest {
  border: 2px solid black;
  border-radius: 35px;
  padding: 0px 35px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navTest ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
